@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --Cream: hsl(27, 66%, 92%);

    background-color: var(--Cream);
    display: flex;
    Font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    min-height: 100vh;
}

/* shared classes */
.text-dark-brown {
    color: hsl(25, 47%, 15%);
}

.text-light-brown {
    color: hsl(28, 10%, 53%);
}

.mb-3 {
    margin-bottom: 1rem;
}

/* end of shared classes */
main {
    margin: auto;
    max-width: 380px;
}

.char-header {
    background-color: hsl(10, 79%, 65%);
    color: hsl(33, 100%, 98%);
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1.5rem;
    margin-bottom: 20px;
    border-radius: 12px;
}

.chart-body {
    background-color: hsl(33, 100%, 98%);
    padding: 1.2rem 1.5rem;
    border-radius: 12px;
}

.chart-body hr {
    border: 0;
    border-top: 1.5px solid #efefef;
    margin: 20px 0;
}

.chart-footer>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart-footer>div>div {
    text-align: right;
}